.footer-head{
    height: 250px;
    width: 100%;
    background-color: #818181;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin-top: 30px;
    

}
.cd-5{
    list-style: none;
    width: 252px;
}

ul h5{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

li a{
    text-decoration: none;
    color: white;
}

input[type=text],[type=email]{
    width: 200px;
    border: 1px solid white;
    border-radius: 3px;
    margin-bottom: 20px;
    
}

li button{
    height: 40px;
    width: 200px;
    background-color: #A264A7;
    color: white;
}

.align-one{
    list-style: none;
}

.align-one li{
    margin-bottom:20px
}

.copyright{
    height: 55px;
    width: 100%;
    background-color:#000000;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-head a:hover{
    color: #A264A7;
}