*{
    padding: 0;
    margin: 0;
}


.container{
    height: 140px;
    width: 100%;
    font-family: sans-serif;
    display: flex; 
}

.logo{
    padding-left: 150px;
    padding-top: 10px;
}

#title{
    color: #A264A7;
    margin-left: 140px;
    margin-top: 10px;
}


#sub_title{
    margin-left: 140px;
    margin-top: 10px;
}

#navbarNavDropdown{
    padding-left: 440px;
}

.navbar-nav li{
    margin-left: 30px;
}

.nav-item a:hover{
    background-color: #A264A7;
}
